.menu_mobile{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

/*Cuando llega a un minimo de 500px el menu mobile aparece*/
@media (min-width: 500px) {
    .menu_mobile {
      display: none;
    }
  }

  ion-button{
    font-size: small;
  }


  @media (max-width: 411px) {
    ion-button{
      font-size: 10px;
    }
  }