.main_title{
text-align: center;
}

ion-content {
    background-color: white;
}

a {
    /*Con esto le quitamos la linea de abajo*/
    text-decoration: none;
  }

  .logo_principal {
    height: 50px;
    margin-top: 50px;
    margin-left: 150px;
  }

  