
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--Añadimos la directiva a la imagen-->
    <img class="logo_principal" appLogoDirectiva>
    <ion-title class="main_title">Blog Teknologico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-icon name="pin-outline"></ion-icon> <a href="/"> Inicio</a> 
    <br>
    <ion-icon name="locate-outline"></ion-icon> <a href="/categorias"> Categorias</a> 
    <br>
    <ion-icon name="people-outline"></ion-icon>  <a href="/sobre-nosotros"> Sobre Nosotros</a> 
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Blog Tecnologico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
