#container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-card {
  width: 300px;
  height: 200px;
}

ion-card-title, ion-card-subtitle{
  margin: 0 auto;
}