/*Para centrar los cards*/
#container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /*background-color: grey;*/
}

ion-card {
  width: 300px;
  height: 400px;
}

ion-card-title, ion-card-subtitle{
  margin: 0 auto;
}

ion-title{
  margin: 0 auto;
}

a{
  display: inline-block;
  margin-top: 10px;
}

.img_bd{
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.ub{
  padding-bottom: 25px;
  font-size: 50px;
  color: white;
}

.ion-card{
  border-radius:30px !important;
}

.posts {
  width: 250px;
  height: 270px;
  animation: mostrar 2s normal;
  opacity: 1;
}

@keyframes mostrar {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}

footer{
  margin-top: 250px;
  text-align: center;
}

