<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blog Teknologico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a href="">Categorias</a>
    <br>
    <a href="/sobre-nosotros">Sobre Nosotros</a>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Blog Tecnologico</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ultimos Blogs</strong>
    <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <ion-card-title>{{post.titulo}}</ion-card-title>
        <ion-card-subtitle>{{post.subtitulo}}</ion-card-subtitle>
      </ion-card-header>
      <img class="img_bd" src={{post.imagen}} alt="">
      <ion-card-content>
      
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
