<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <app-back-button></app-back-button>
  <div id="container">
    <section class="buttons_categoria">
      <ion-button shape="round" fill="none" [ngClass]="" id="cat_graf" (click)="getData()">Categoria Graficas</ion-button>
      <ion-button shape="round" fill="none" id="cat_hardware" (click)="getDataHardware()">Categoria Hardware</ion-button>
    </section>
    <section class="cards">
    <ion-card class="posts" *ngFor="let post of posts">
      <ion-card-header>
        <ion-card-title>{{post.titulo}}</ion-card-title>
       
        <ion-card-subtitle>{{post.subtitulo}}</ion-card-subtitle>
        <ion-card-subtitle id="categoria">Categoria: {{post.categoria}}</ion-card-subtitle>
      </ion-card-header>
      <img class="img_bd" (click)="onCardClick(post._id)" src={{post.imagen}} alt="">
    </ion-card>
  </section>
  </div>
</ion-content>