/*Para centrar los cards*/
#container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  ion-card {
    width: 500px;
    height: 500px;
  }
  
  ion-card-title, ion-card-subtitle{
    margin: 0 auto;
  }
  
  ion-title{
    margin: 0 auto;
  }
  
  a{
    display: inline-block;
    margin-top: 10px;
  }
  
  .img_bd{
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  
  .ub{
    padding-bottom: 50px;
  }
  
 
  
  .posts {
    width: 350px;
    height: 270px;
    /*Creo una anumacion llamada card-enter, dura 5 milisegundos y hace un  ease-in-out*/
    animation: card-enter 0.5s ease-in-out;
  }


  /*Keyframe con dos etapas, en la primera esta fuera de la pantalla, a la izquierda, cuando se completa (100%) esta al centro*/
  @keyframes card-enter {
    0% {
      left: -100%;
    }
  
    100% {
      left: 0;
    }
  }
 
  .buttons_categoria ion-button {
    margin-left: 0;
    padding-top: 25px;
    padding-left: 25px;
    
  }

  .buttons_categoria #cat_hardware{
    color: greenyellow;
  }

  .buttons_categoria #cat_graf{
    color: yellow;
  }

  

  ion-button:hover {
    animation: cambio_color 4s ease;
  }

  @keyframes cambio_color {
    0% {color: greenyellow;}
    25% {color: green;}
    50% {color: yellow;}
    75% {color: orange;}
    100% {color: red;}
  }


  .container{
    background-color: grey;
  }


