

.post{
    margin: 0 auto;
    text-align: center;
 
}

img{
    height: 220px;
    width: 220px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-button {
    margin-right: 350px;
  }

  p {
    padding-left: 20px;
    padding-right: 20px; 
    text-align: left;
    
  }
  
  p::first-line {
    text-indent: 1.5em;
  }
  