

.post{
    margin: 0 auto;
    text-align: center;
 
}

img{
    height: 220px;
    width: 220px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-button {
    margin-right: 350px;
  }

  h3{
    padding-top: 25px;
    margin-left: 200px;
  }