<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<app-menu></app-menu>
<ion-content [fullscreen]="true">
    <div class="form">
      <ion-title size="large">Opiniones</ion-title>
      <form action="">
        <!--Asociamos cada input con el elemento correspondiente del formulario | Tambien con un name parecido-->
        <ion-input labelPlacement="floating"  [(ngModel)]="opinionForm.email" required type="text" name="email" placeholder="Escribe tu email" >
          <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
        <br>
        <ion-input labelPlacement="floating" [(ngModel)]="opinionForm.puntuacion" required type="number" name="puntuacion" >
          <div slot="label">Puntuación <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
        <br>
        <ion-input labelPlacement="floating" [(ngModel)]="opinionForm.descripcion" required type="text" name="descripcion" placeholder="Escribe una descripción" >
          <div slot="label">Opinion <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
        <input class="btn_enviar" type="button" (click)="onSubmit()" value="Crear opinión">
      </form>
    </div>

    <ion-toast
      [isOpen]="isToast"
      message="Opinión creada correctamente"
      [duration]="5000"
      position="middle"
    ></ion-toast>

    <app-menu-mobile></app-menu-mobile>
 
</ion-content>
