.contenido_principal > ion-title{
    padding-bottom: 50px;
}

ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sec_page {
    margin-top: 50px;
}