<app-menu></app-menu>

<ion-content class="contenido_principal" [fullscreen]="true">
  <app-back-button></app-back-button>
  <ion-title>¿Quienes somos?</ion-title>
  <ion-text>Somos un grupo de aficionados a la tecnologia dentro del ambito de:</ion-text>
  <br>
  <ion-chip id="prog" color="secondary">Programación</ion-chip><ion-chip id="rob" color="tertiary">Robotica</ion-chip>
  <section id="languagesList"></section>
  <section id="roboticaList"></section>

  <section class="sec_page">También somos la página más visitada en tecnología.</section>

  <app-menu-mobile></app-menu-mobile>
 
</ion-content>