.contenido_principal > ion-title{
    padding-bottom: 50px;
}

ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sec_page {
    margin-top: 50px;
}

.datos{
    animation: aparecer 2s normal;
    opacity: 1;
    transition-delay: 0.5s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}